.Home{
    text-align: center;
    font-size: 25px;
    color: white;
}



input {
    width: 300px;
    font-size: 20px;
    color: red;

}


textarea:focus, input:focus{
    outline: none;
}



.correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }






