
  .container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
  }
  

  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }


  
  



  .alert {
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  