.Home{
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}



input {
    width: 300px;
    font-size: 20px;
    color: black;

}


textarea:focus, input:focus{
    outline: none;
}


.buttonhome {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px ;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }

  .subbut {
    padding-top: 10px;
  }


.correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }






