.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.navbar__left {
  display: inline-flex;
  align-items: baseline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar__right {
  display: flex;
  align-items: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.usericon {
  background-color: black;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  color: rgb(250, 250, 250);
  font-size: 1.2em;
}

.Title {
  font-size: 100px;
  font-family: Consolas, monaco, monospace;
 
}

.signout{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.3em;
}


.leaderboards {
  margin: 0 13px;
  display: flex;
  align-items: center;
  font-family:Courier New,monospace;
  background-color: black;
  color: white;
}

.leaderboards a {
  padding: 1px 5px 1px 5px;
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.leaderboards .crown {
  margin-right: 5px;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}



.user {
  display: flex;
  margin-right: 1rem;
  font-size: 18px;
}

.user a {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.user .usericon {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

h1.title {
  font-size: 2.5rem;
  color: #000000;
  text-decoration: underline;
  
}

.emdis{
  margin: 1px 5px 1px 5px;
  font-family:Courier New,monospace;
  font-size: 18px;
  align-items: center;
}

.usdis{
  margin: 1px 5px 1px 5px;
  font-family:Courier New,monospace;
  font-size: 18px;
  align-items: center;
}

.navbut{
  background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    font-family: Courier New,monospace;
    border: none;
    text-align: center;
    
}

@media (max-width: 767px) {
 


  .usdis{
  }

  .lddis {
  }


  .usericon {
  }
  .emdis{
  }

  .navbar{
  }


  .logout{
   
  }

  .signout{
    
  }


  h1.title{
  }
}

